

<div class="row lfiv">

<repeat group="{{ @tgs }}" value="{{ @tg }}">

 <div class="tagview">
    <a href="{{ @BASE.'/t/'. @tg.tok .'/'. @tg.url }}" class="gridh">{{ trim(@tg.tag) }}</a> <span class="badge">{{ trim(@tg.tagcount) }}</span> 	
	
	<a href="{{ @BASE.'/t/update/'. @tg.tok }}" class="edittag"><i class="icon-edit"></i></a> 
	<a class="edittag deletetag" id="tagtok_{{ @tg.tok }}"><i class="icon-remove"></i></a>
   </div>


</repeat>

	<check if="{{ count(@tgs)==0 }}">
		<p><i>no tags</i></p>
		</check>
		
</div>

