

<form class="form-horizontal validcat" method="POST" action="{{ @BASE }}/c/update">
<fieldset>

<!-- Form Name -->
<legend>Update category</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="title">Category</label>
  <div class="controls">
    <input id="name" name="name" placeholder="category name" class="input-xlarge" type="text" value="{{ @POST.name }}">
    
  </div>
 
 
<exclude>
<check if="{{ @cs }}">

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="category">Category node</label>
  <div class="controls">
    <select id="node" name="node" class="input-xlarge">
	  <option value="0">select parent</option>
	<repeat group="{{ @cs }}" value="{{ @c }}">

	<check if="{{ @c.tok != @POST.tok }}">
      <option value="{{ @c.tok }}" {{ (@c.tok==@categoires.node)?'selected="selected"':'' }}>{{ @c.name }}</option>
	</check>
	</repeat>

    </select>
  </div>
</div>

</check>
</exclude>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <input type="hidden" name="tok" value="{{ @POST.tok }}" />
    <input type="hidden" name="update" value="update" />
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Update</button>
  </div>
</div>

</fieldset>
</form>
